page-object-edit {

    .qr-code-input {
        width: 100%;
    }
    
    .qr-code-input > default-input > base-input > input {
        width: 88%;
        float: left;
    }

    ion-header {
        ion-icon {
            color: color($colors, primaryTitle, base);
        }
    }

    .qr-code-input {
        width: 100%;
    }
    
    .qr-code-input > default-input > base-input > input {
        width: 88%;
        float: left;
    }
    
    .qr-code-input > #camera-icon {
        max-width: 10%;
        display: flex;
    }
}
