<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
 -->

<!--[(value)]="searchData.name" -->

<ion-header>

    <ion-navbar>
      <ion-title>Objektsuche</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content mode="md" padding style="background-color: rgb(80, 95, 112, 0.2)">
  <div >
  <ion-grid>
      <div>
      <ion-searchbar
          [(ngModel)]="searchTerm"
          (ionInput)="filteredItems()"
          placeholder="Objektname"
          mode="md">
      </ion-searchbar>
      <div *ngIf="suche" class="spinner-container">
          <ion-spinner name="bubbles"></ion-spinner>
      </div>
     <ion-list>
      <ion-item *ngFor="let item of items" class="text-box" (click)="viewDetail(item)">
          {{item.object_name}}
          <br>
          <div class="text-box-lowerText">
          {{item.object_qr_code.qr_code_string}}
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    </div>
  </ion-grid>
  </div>
  </ion-content>
